

.o-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .o-content {
    background-color: #3a3a3a;
    color: white;
  }
}

.o-footer {
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #000;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background-color: #1a1a1a;
  color: whitesmoke;
}

.u-page-wrapper {
  margin: 0 auto;
  max-width: 768px;
  padding: .5rem 1rem;
  padding-bottom: 2rem;
  min-height: calc(100vh - 100px);
}


.u-outer-page-wrapper {
  min-height: 100vh;
}

/* component.js */

.b-timeline {
  margin: 0.5rem 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* The line */
.b-timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #757575;
  left: 25%;
  margin-left: -37px;
}

/* The date/time */
.m-event-date {
  display: block;
  width: 25%;
  padding-right: 70px;
  position: absolute;
}


.a-event-date-month, .a-event-date-year {
  display: block;
  text-align: right;
}

.a-event-date-month {
  font-size: 0.9em;
}

.a-event-date-year {
  font-size: 2.9em;
}

/* Right content */
.m-event-block {
  margin-top: 0;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 15px;
  background: #101010;
  padding-bottom: 1rem;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
}

.a-event-title {
  color: #3a3a3a;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.a-event-text:first-of-type {
  padding-top: 0.8rem;
}

.a-event-text {
  font-size: 1rem;
  color: #dddddd;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* The triangle */
.m-event-block:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #757575;
  border-width: 10px;
  top: 10px;
}

.m-event {
  position: relative;
  margin-top: 4rem
}

/* The icons */
.a-event-icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #757575;
  border-radius: 50%;
  left: 25%;
  top: 0;
  margin: 0 0 0 -55px;
}

.a-image {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .b-timeline:before {
    display: none;
  }

  .m-event-date {
    width: 100%;
    position: relative;
    padding: 10px;
  }

  .m-event-date span {
    text-align: left;
  }

  .m-event-block {
    font-weight: 400;
    font-size: 95%;
  }

  .m-event-block:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #000000;
    top: -20px;
  }

  .a-event-icon {
    display: none;
  }
}

.a-frontpage-bottom-scroll {
  color: white;
  text-decoration: none;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 0.2rem;
  transition: transform 0.5s;
}

.a-frontpage-bottom-scroll:hover {
  transform: translateY(-0.3rem);
}

.a-invisible-bottom {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: underline;
}

.a-invisible-bottom:hover {
  text-decoration: none;
}

.a-search-exit {
  text-align: center;
  vertical-align: middle;
  outline: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: white;
  fill: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
}

.a-search-exit:focus {
  color: #fe0000;
  fill: #fe0000;
}

.u-scale-on-hover:hover, .u-scale-on-hover:focus {
  transform: scale(1.2);
}


#lightboxBackdrop > button {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .m-event-tech {
    display: block;
  }
  .o-footer {
    line-height: 100px;
    padding: 0;
  }

  .m-event-block {
    max-width: 600px;
    margin-left: 25%;
    margin-right: 0;
  }

  .a-event-date-year {
    margin-bottom: 4rem;
  }
}


.link {
  text-decoration: none;
  color: #FE0008;
}

.link:hover, .link:focus, link:active {
  text-decoration: underline;
}



.a-logo {
  display: block;
  margin: 0 auto;
  max-width: 50vw;
}

@media screen and (min-width: 480px) {
  .a-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    max-width: 150px;
  }
}
